<footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">Copyright &copy; 2017. Bracket. All Rights Reserved.</div>
          <div>Attentively and carefully made by ThemePixels.</div>
        </div>
        <div class="footer-right d-flex align-items-center">
          <span class="tx-uppercase mg-r-10">Share:</span>
          <a target="_blank" class="pd-x-5" href="../../../../m.facebook.com/login01a6.html?u=http%3A//themepixels.me/bracket/intro"><i class="fa fa-facebook tx-20"></i></a>
          <a target="_blank" class="pd-x-5" href="https://twitter.com/i/flow/login?redirect_after_login=%2Fhome%3Fstatus%3DBracket%2C%2520your%2520best%2520choice%2520for%2520premium%2520quality%2520admin%2520template%2520from%2520Bootstrap.%2520Get%2520it%2520now%2520at%2520http%253A%2F%2Fthemepixels.me%2Fbracket%2Fintro"><i class="fa fa-twitter tx-20"></i></a>
        </div>
      </footer>