<form action="/api/v1/post/blogss" method="post">
  <!-- Title Field -->
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Enter the title">
  </div>

  <!-- URL Field -->
  <div class="form-group">
    <label for="url">URL:</label>
    <input type="text" class="form-control" id="url" name="url" placeholder="Enter the URL">
  </div>

  <!-- Description Field -->
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control mytextarea" id="description" name="description" placeholder="Enter the description"></textarea>
  </div>



  <div class="form-group">
    <label for="thumbnail">Thumbnail:</label>
    <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="Thumbnail">
  </div>

  <!-- Category Field -->
  <div class="form-group">
    <label for="category">Category:</label>
    
  </div>

  <!-- Keyword Field -->
  <div class="form-group">
    <label for="keyword">Keyword:</label>
    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Enter the keyword">
  </div>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
