  <!-- Content wrapper -->
      <div class="content-wrapper">

        <!-- Content -->
        
          <div class="container-xxl flex-grow-1 container-p-y">
            
            
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Panchangs</h4>

<!-- Basic Layout -->
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Basic Layout</h5> <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">
        <form method="post" action="/api/v1/post/panchangs">
          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-fullname" name="panchang_day" placeholder="Panchang Day" />
            <label for="basic-default-fullname">Panchang Day</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" id="multicol-birthdate" name="panchang_date" class="form-control dob-picker" placeholder="YYYY-MM-DD" />
            <label for="multicol-birthdate">Panchang Date</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="shak_samvat" placeholder="Shak Samvat" />
            <label for="basic-default-company">shak_samvat</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="month" placeholder="Month" />
            <label for="basic-default-company">Month</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="p_date" placeholder="Date" />
            <label for="basic-default-company">Date</label>
          </div>

          

          
      </div>
    </div>
  </div>



    <div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Basic Layout</h5> <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">
          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-fullname" name="lucky_numbers" placeholder="lucky_numbers" />
            <label for="basic-default-fullname">lucky_numbers</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="lucky_colour" placeholder="lucky_colour" />
            <label for="basic-default-company">lucky_colour</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="lucky_year" placeholder="lucky_year" />
            <label for="basic-default-company">lucky_year</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="presiding_deity" placeholder="presiding_deity" />
            <label for="basic-default-company">presiding_deity</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="auspicious_dates" placeholder="auspicious_dates" />
            <label for="basic-default-company">auspicious_dates</label>
          </div>

        
      </div>
    </div>
  </div>


  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Basic Layout</h5> <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">



          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="season" placeholder="Season" />
            <label for="basic-default-company">Season</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-fullname" name="sunset" placeholder="sunset" />
            <label for="basic-default-fullname">sunset</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="sunrise" placeholder="sunrise" />
            <label for="basic-default-company">sunrise</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="rahukal" placeholder="rahukal" />
            <label for="basic-default-company">rahukal</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="yoga" placeholder="yoga" />
            <label for="basic-default-company">yoga</label>
          </div>

       
      </div>
    </div>
  </div>

<div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Basic Layout</h5> <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">
          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-fullname" name="ion" placeholder="ion" />
            <label for="basic-default-fullname">ion</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="side" placeholder="side" />
            <label for="basic-default-company">side</label>
          </div>

          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="directional" placeholder="directional" />
            <label for="basic-default-company">directional</label>
          </div>

           <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="vikranm_samvat" placeholder="vikranm_samvat" />
            <label for="basic-default-company">vikranm_samvat</label>
          </div>


          <div class="form-floating form-floating-outline mb-4">
            <input type="text" class="form-control" id="basic-default-company" name="nakshatra" placeholder="nakshatra" />
            <label for="basic-default-company">nakshatra</label>
          </div>
      </div>
    </div>
  </div>



 
</div>










<!-- Multi Column with Form Separator -->
<div class="card mb-4">
  <h5 class="card-header">Multi Column with Form Separator</h5>
    <div class="row g-4" style="padding:12px;">
      <div class="col-md-12">
        <div class="form-floating form-floating-outline">
          <input type="text" id="multicol-username" name="extra_1[heading]" class="form-control" placeholder="Title" />
          <label for="multicol-username">Title</label>
        </div>
      </div>

      <div class="form-floating form-floating-outline">
          <textarea class="mytextarea"  name="extra_1[content]" rows="10" novalidate></textarea>
      </div>

      <div class="col-md-12">
        <div class="form-floating form-floating-outline">
          <input type="text" id="multicol-username" name="extra_2[heading]" class="form-control" placeholder="Title" />
          <label for="multicol-username">Title</label>
        </div>
      </div>

      <div class="form-floating form-floating-outline">
          <textarea class="mytextarea"  name="extra_2[content]" rows="10" novalidate></textarea>
      </div>

      <div class="col-md-12">
        <div class="form-floating form-floating-outline">
          <input type="text" id="multicol-username" name="extra_3[heading]" class="form-control" placeholder="Title" />
          <label for="multicol-username">Title</label>
        </div>
      </div>

      <div class="form-floating form-floating-outline">
          <textarea class="mytextarea"  name="extra_3[content]" rows="10" novalidate></textarea>
      </div>

      <div class="col-md-12">
        <div class="form-floating form-floating-outline">
          <input type="text" id="multicol-username" name="extra_4[heading]" class="form-control" placeholder="Title" />
          <label for="multicol-username">Title</label>
        </div>
      </div>

      <div class="form-floating form-floating-outline">
          <textarea class="mytextarea"  name="extra_4[content]" rows="10" novalidate></textarea>
      </div>

      <div class="col-md-12">
        <div class="form-floating form-floating-outline">
          <input type="text" id="multicol-username" name="extra_5[heading]" class="form-control" placeholder="Title" />
          <label for="multicol-username">Title</label>
        </div>
      </div>

      <div class="form-floating form-floating-outline">
          <textarea class="mytextarea"  name="extra_5[content]" rows="10" novalidate></textarea>
      </div>

      <div class="col-md-12">
        <div class="form-floating form-floating-outline">
          <input type="text" id="multicol-username" name="extra_6[heading]" class="form-control" placeholder="Title" />
          <label for="multicol-username">Title</label>
        </div>
      </div>

      <div class="form-floating form-floating-outline">
          <textarea class="mytextarea"  name="extra_6[content]" rows="10" novalidate></textarea>
      </div>

      <div class="col-md-12">
        <div class="form-floating form-floating-outline">
          <input type="text" id="multicol-username" name="extra_7[heading]" class="form-control" placeholder="Title" />
          <label for="multicol-username">Title</label>
        </div>
      </div>

      <div class="form-floating form-floating-outline">
          <textarea class="mytextarea"  name="extra_7[content]" rows="10" novalidate></textarea>
      </div>

      <div class="col-md-12">
        <div class="form-floating form-floating-outline">
          <input type="text" id="multicol-username" name="extra_8[heading]" class="form-control" placeholder="Title" />
          <label for="multicol-username">Title</label>
        </div>
      </div>

      <div class="form-floating form-floating-outline">
          <textarea class="mytextarea"  name="extra_8[content]" rows="10" novalidate></textarea>
      </div>

    
    </div>
    </div>




   


<!-- Form with Tabs -->
<div class="row">
  <div class="col">
    <h6 class="mt-4"></h6>
    <div class="card mb-3">
      <div class="card-header">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#form-tabs-personal" role="tab" aria-selected="true">Pandeet</button>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane fade active show" id="form-tabs-personal" role="tabpanel">
            <div class="row g-4">
              
              <div class="col-md-6">
                <div class="form-floating form-floating-outline">
                  <select id="formtabs-country" class="select2 form-select" data-allow-clear="true" name="pandeet_name">
                    <option value="">Select Name</option>
                    {{#each pandeetName}}

                    <option value="{{pandeet_name}}">{{pandeet_name}}</option>
                    {{/each}}
                    
                  </select>
                  <label for="formtabs-country">Pandeet Name</label>
                </div>
              </div>
              
             
            </div>
            <div class="pt-4">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
            </div>
          </form>
        </div>
       
      </div>

    </div>
  </div>
</div>



            
          </div>
          <!-- / Content -->