

<form action="/api/v1/post/mantra" method="post">
<input type="text" name="mantra_title" placeholder="mantra_title">
<input type="text" name="mantra_path" placeholder="mantra_path">
<select name="mantra_category">
<option value="kirshna_mantra">Krishna mantra</option>
<option value="hanuman_mantra">Hanuman Chalisa</option>
<option value="durga_mantra">Durga Mantra</option>
<option value="shiva_mantra"> Shiva Mantra</option>
</select>
<textarea class="mytextarea" name="mantra_sloak" placeholder="mantra_sloak"></textarea>
<input type="text" name="mantra_thumbnail" placeholder="mantra_thumbnail">
<input type="text" name="mantra_duration" placeholder="mantra_duration">
<input type="text" name="mantra_publish" placeholder="mantra_publish">
<input type="submit" name="submit" value="submit">
</form>