   
    <div class="br-mainpanel">
        <div class="br-pagebody">
            <div class="br-section-wrapper">
                <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Music Category</h6>
                <form action="/api/v1/post/musiccategories" method="POST">
                    <div class="form-layout form-layout-1">
                        <div class="row mg-b-25">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Music Category Title: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="mcategories_title" placeholder="Category Title">
                                </div>
                            </div><!-- col-4 -->

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Music Category Thumbnail: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="mcategories_thumbnail" placeholder="Thumbnail">
                                </div>
                            </div><!-- col-4 -->

                           
                         <!-- Add more input fields as needed -->

                        </div><!-- row -->

                        <div class="form-layout-footer">
                            <button class="btn btn-info" type="submit">Post Video</button>
                        </div><!-- form-layout-footer -->
                    </div><!-- form-layout -->
                </form>
            </div><!-- br-section-wrapper -->
        </div><!-- br-pagebody -->
    </div>
</body>
</html>
