    <div class="br-mainpanel">
  .
  
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Reels Post</h6>
        <form action="/api/v1/post/reels" method="POST">
          <div class="form-layout form-layout-1">
            <div class="row mg-b-25">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Title: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" name="reels_name" value="" placeholder="Shorts Title">
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Shorts Path: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" name="reels_path" placeholder="Shorts Path">
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Thumbnail Path: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" name="reels_thumbnail" placeholder="Thumbnail Path">
                </div>
              </div><!-- col-4 -->

              <div class="col-lg-8">
                <div class="form-group mg-b-10-force">
                  <label class="form-control-label">Short Summary: <span class="tx-danger">*</span></label>
                  <input class="form-control" type="text" name="reels_summary" placeholder="Short Summary">
                </div>
              </div><!-- col-8 -->

              <div class="col-lg-4">
                <div class="form-group mg-b-10-force">
                  <label class="form-control-label">Shorts Category: <span class="tx-danger">*</span></label>
                  <select class="form-control select2" data-placeholder="Shorts Category" name="reels_category">
                    <option label="Choose Category"></option>
                    <option value="Hanuman">Hanuman</option>
                    <option value="Temple">Temple</option>
                    <option value="Random">Random</option>
                  </select>
                </div>
              </div><!-- col-4 -->
            </div><!-- row -->

            <div class="form-layout-footer">
              <button class="btn btn-info" type="submit">Post Reels</button>
            </div><!-- form-layout-footer -->
          </div><!-- form-layout -->
          </form>

          




        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->