    <div class="br-mainpanel">
        <div class="br-pagebody">
            <div class="br-section-wrapper">
                <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Videos Post</h6>
                <form action="/api/v2/post/videoes" method="POST">
                    <div class="form-layout form-layout-1">
                        <div class="row mg-b-25">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Video Title: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="videos_title" value="" placeholder="Video Title">
                                </div>
                            </div><!-- col-4 -->

                           <div class="col-lg-4">
    <div class="form-group mg-b-10-force">
        <label class="form-control-label">Videos Category: <span class="tx-danger">*</span></label>
        <select class="form-control select2" data-placeholder="Videos Category" name="videos_category" id="videosCategory" onchange="populateSubcategories(this)">
            <option label="Choose Category"></option>
            {{#each category}}
            <option value="{{categoriesId}}">{{vcategories_title}}</option>
            {{/each}}
        </select>
    </div>
</div><!-- col-4 -->

<div class="col-lg-4">
    <div class="form-group mg-b-10-force">
        <label class="form-control-label">Videos Sub-Category: <span class="tx-danger">*</span></label>
        <select class="form-control select2" data-placeholder="Videos Category" name="videos_sub_category" id="videosSubCategory">
            <option label="Choose Sub-Category"></option>
        </select>
    </div>
</div><!-- col-4 -->
                            <!-- ... Previous HTML code ... -->

<script>
  function populateSubcategories(selectElement) {
    const selectedCategory = selectElement.value;
    const videosSubCategorySelect = document.getElementById('videosSubCategory');
    videosSubCategorySelect.innerHTML = '<option label="Choose Sub-Category"></option>';

    if (selectedCategory !== '') {
      fetch(`https://knowyourtemples.in/api/subcategories/${selectedCategory}`)
        .then(response => response.json())
        .then(subCats => {
          console.log(subCats); // Check if subcategories are correctly parsed
          subCats.forEach(subCat => {
            const option = document.createElement('option');
            option.value = subCat.subcategory_Id;
            option.textContent = subCat.subcategory_title;
            videosSubCategorySelect.appendChild(option);
          });
        })
        .catch(error => console.error(error));
    }
  }

  // Automatically populate sub-categories when the page loads
  document.addEventListener('DOMContentLoaded', () => {
    const videosCategorySelect = document.getElementById('videosCategory');
    populateSubcategories(videosCategorySelect);
  });
</script>

<!-- ... Rest of the HTML code ... -->

  




                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Video Path: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="videos_path" placeholder="Video Path">
                                </div>
                            </div><!-- col-4 -->



                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Video Thumbnail: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="videos_thumbnail" placeholder="Video Thumbnail">
                                </div>
                            </div><!-- col-4 -->

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Video Publisher: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="videos_publisher" placeholder="Video Publisher">
                                </div>
                            </div><!-- col-4 -->

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Video Publish: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="videos_publish" placeholder="Video Publish">
                                </div>
                            </div><!-- col-4 -->

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Video Duration: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="videos_duration" placeholder="Video Duration">
                                </div>
                            </div><!-- col-4 -->


                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Video Keyword: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="videos_keyword" placeholder="Video Keyword">
                                </div>
                            </div><!-- col-4 -->

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Video Temple Location: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="videos_temple_locate" placeholder="Video Temple Location">
                                </div>
                            </div><!-- col-4 -->


                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Latitude: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="latitude" placeholder="Latitute">
                                </div>
                            </div><!-- col-4 -->


                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Longitude: <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="longitude" placeholder="Longitude">
                                </div>
                            </div><!-- col-4 -->

                            <div class="col-lg-4">
                                <div class="form-group mg-b-10-force">
                                    <label class="form-control-label">State: <span class="tx-danger">*</span></label>
                                    <select class="form-control select2" data-placeholder="State" name="state" id="state">
                                        <option label="Choose State"></option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="West Bengal">West Bengal</option>
                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Puducherry">Puducherry</option>
                                            <option value="Ladakh">Ladakh</option>
                                            <option value="Ladakh">Lakshadweep</option>
                                    </select>
                                </div>
                            </div><!-- col-4 -->

                            <!-- Add more input fields as needed -->

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Video Description: <span class="tx-danger">*</span></label>
                                    <textarea class="form-control" name="videos_description" placeholder="Video Description"></textarea>
                                </div>
                            </div><!-- col-4 -->







                            <!-- Add more input fields as needed -->

                        </div><!-- row -->

                        <div class="form-layout-footer">
                            <button class="btn btn-info" type="submit">Post Video</button>
                        </div><!-- form-layout-footer -->
                    </div><!-- form-layout -->
                </form>
            </div><!-- br-section-wrapper -->
        </div><!-- br-pagebody -->
    </div>
</body>
</html>
